body, .navbar {
    background-image: url(./assets/wallpaper.png);
    
}


* {
    color: #0074cc;
}

#brand_name{

    color: #001F3F;
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    font-size:1.5em;

    text-transform: uppercase;
}
#brand_img{
    width: 12vh;
}
.nav-item, .nav-link, .navbar-toggler-icon .navbar-toggler{
    color:  #0074cc;
    
}



ul a:active {
    background-color: rgba(173, 119, 81, 0.172);
    border-radius: 15px;
}

    
.carousel-item > .img-fluid{
    min-height: 50vh;
    max-height: 50vh;
    overflow: hidden;
}

.invisible {
    display: none;
}












.product-name{
    text-align: center;
}

.product-price{
    text-align: center;
}



#validators{
	position: fixed;
	opacity: 0.4;
	bottom: 0;
	right: 0;
}
.validator{
    width: 8vh;
}